<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Kết nối</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <invitation-list></invitation-list>
    <ion-list>
        <ion-list-header>Có thể bạn biết</ion-list-header>
        <user-item *ngFor="let user of users" [user]="user"></user-item>
        <!-- <button ion-item *ngFor="let user of users" (click)="presentPopover($event, user._id)">
            <strong>{{user.name}} <em *ngIf="user.isYou">(Bạn)</em></strong>
        </button> -->
    </ion-list>
</ion-content>