<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>List User</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let user of users" (click)="createConversation(user._id)">
            <div>
                <strong>{{user.name}} <em *ngIf="user.isYou">(Bạn)</em></strong>
            </div>
            <div>ID: {{user._id}}</div>
        </button>
    </ion-list>
    <!-- <button ion-button full (click)="getUserList()">Fetch</button> -->
</ion-content>