<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Hội thoại</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="conversations && conversations.length">
        <!-- <button ion-item *ngFor="let conv of conversations" (click)="openConversation(conv._id)">
            <strong *ngFor="let user of conv.users">{{user.name}}</strong>
        </button> -->
        <user-item *ngFor="let conv of conversations" [user]="conv.users[0]" [conversationId]="conv._id"></user-item>
    </ion-list>
    <button *ngIf="conversations && !conversations.length" ion-button color="dark" clear full disabled>Chưa có cuộc hội thoại</button>
</ion-content>