<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="auth.user && auth.user.name">
        <h3>Xin chào <strong>{{auth.user.name}}</strong>!</h3>
        <div>ID: {{auth.user._id}}</div>
        <div>Socket id: {{auth.user.socketId}}</div>
        <button ion-button (click)="auth.logout()" full>Đăng xuất</button>
    </div>
    <div *ngIf="!auth.user || !auth.user.name">
        <ion-input placeholder="Name" type="text" [(ngModel)]="name"></ion-input>
        <button ion-button (click)="auth.login(name)" full>Đăng nhập</button>
    </div>
</ion-content>